<!DOCTYPE html>
<html>
<head lang="en">

    <title>主页</title>
    <#include "/portal/amazedHead.html">

    <style>
        .header {
            text-align: center;
        }
        .header h1 {
            font-size: 200%;
            color: #333;
            margin-top: 30px;
        }
        .header p {
            font-size: 14px;
        }
    </style>
</head>
<body>

<#include "/portal/header.html">


<div class="am-g">
    <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered ">

        <a class="am-btn am-btn-danger am-btn-block  am-round am-btn-xl" href="/portal/user/addCarPage">
            <span class="am-icon-car"></span>
            绑定车辆
        </a>
<br>
        <a class="am-btn am-btn-success am-btn-block am-round  am-btn-xl" href="/portal/user/bookPortPage">
            <span class="am-icon-shopping-cart"></span>
            预订车位
        </a>
<br>

        <a id="scanQRCode" class="scanQRCode am-btn am-btn-default am-round am-btn-block  am-btn-xl">
            <span class="am-icon-search"></span>
            反向寻车
        </a>
<br>
        <a class="am-btn am-btn-warning am-btn-block  am-round am-btn-xl" href="/portal/user/orderPage">
            <span class="am-icon-envelope"></span>
            查询账单
        </a>
        <br>

<br>

    </div>
</div>

<input id="timestamp" type="hidden" value="${timestamp}" />
<input id="noncestr" type="hidden" value="${nonceStr}" />
<input id="signature" type="hidden" value="${signature}" />

<#include "/portal/footer.html">


</body>

<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript">
    $(function() {
        var timestamp = $("#timestamp").val();//时间戳
        var nonceStr = $("#noncestr").val();//随机串
        var signature = $("#signature").val();//签名
        wx.config({
            debug : false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId : 'wx6f6480a39693fbb1', // 必填，公众号的唯一标识
            timestamp : timestamp, // 必填，生成签名的时间戳
            nonceStr : nonceStr, // 必填，生成签名的随机串
            signature : signature,// 必填，签名，见附录1
            jsApiList : [ 'scanQRCode' ]
            // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });


        //定义提示模态框
        var infoModal = $('#info');
        //定义loading模态框
        var loadingModal = $('#my-modal-loading');

        $("#scanQRCode").click(function() {
            wx.scanQRCode({
                // 默认为0，扫描结果由微信处理，1则直接返回扫描结果
                needResult : 1,
                desc : 'scanQRCode desc',
                success : function(res) {
                    //扫码后获取结果参数赋值给Input
                    var url = res.resultStr;
                   $.post(url,function (result) {
                       var responseObj = JSON.parse(result);
                       //alert(responseObj.code===0);
                       if(responseObj.code === 0){
                           var pathUrl = "http://abc.21java.xyz/portal/user/getPath?beginPortName=" +responseObj.beginPortName+"&endPortName=" +responseObj.endPortName;
                           //alert(pathUrl);
                           infoModal.find(".am-modal-bd").text(responseObj.msg + "，即将为你显示引导路径！");
                           infoModal.modal('toggle');
                           $("#info").find(".am-modal-btn").on("click", function () {
                               loadingModal.modal("open")
                               setTimeout( function () {
                                   window.location.href = pathUrl ;

                               },1000)
                           })
                       }else {
                           var errorMsg = responseObj.error;
                           infoModal.find(".am-modal-bd").text(errorMsg );
                           infoModal.modal('toggle');
                       }
                   })
                }
            });
        });

    });
</script>

</html>