<!DOCTYPE html>
<html>
<head lang="en">

  <title>Portal Login Page </title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />

  <script type="text/javascript" src="/assets/js/jquery.min.js"></script>


  <link rel="alternate icon" type="image/png" href="/assets/i/favicon.png">
  <link rel="stylesheet" href="/assets/css/amazeui.min.css"/>
  <style>
    .header {
      text-align: center;
    }
    .header h1 {
      font-size: 200%;
      color: #333;
      margin-top: 30px;
    }
    .header p {
      font-size: 14px;
    }
  </style>
</head>
<body>



<#include "/portal/header.html">

<div class="am-g">
  <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">


    <form method="post" class="am-form">
      <label for="username"><span class=""></span>用户名:</label>
      <input type="text" name="" id="username" value="">
      <br>
      <label for="password">密码:</label>
      <input type="password" name="" id="password" value="">
      <br>

      <br />
      <div class="am-cf">
        <input id="loginButton" type="button" name="" value="登 录" class="am-btn am-btn-primary am-btn-sm am-fl">
        <input id="registerButton" type="button" name="" value="注册用户" class="am-btn am-btn-default am-btn-sm am-fr">
      </div>
      <hr>
      <div align="center">
        <h4>微信授权登录</h4>
        <a href="/portal/user/auth" ><span class="am-icon-btn am-icon-weixin am-success"></span></a>
      </div>


    </form>



  </div>
</div>


<#include "/portal/footer.html">


<script>
    //登录按钮
    $("#loginButton").click(function(){
        console.log($("#username").val());
        $.post("/user/dologin", { username: $("#username").val(), password: $("#password").val()},
            function(data){
                var  json =JSON.parse(data); //解析str成json
                if (json.code==0)
                {
                    console.log("登录中。。。");
                    $("#loginButton").val("登录中...");
                    setTimeout(function(){
                        window.location.href = "/portal/user/indexPage";
                    },2000);
                }else{
                    alert(json.error)
                }
                /*setTimeout(function(){
                    window.location.href = "/";
                },1000);*/
            });

        return false;
    })

    //注册按钮
    $("#registerButton").click(function () {
        window.location.href="/portal/user/registerPage"
    })



</script>




</body>
</html>
