<!DOCTYPE html>
<html>
<head lang="en">
    <title>Order Page </title>
    <#include "/portal/amazedHead.html">
    <style>
        .header {
            text-align: center;
        }

        .header h1 {
            font-size: 200%;
            color: #333;
            margin-top: 30px;
        }

        .header p {
            font-size: 14px;
        }


    </style>
</head>

<body>

<#include "/portal/header.html">

<ol class="am-breadcrumb am-breadcrumb-slash">
    <li><a href="/portal/user/indexPage" class="am-icon-home am-icon-md"><span style="font-size: 16px;">首页</span></a></li>
    <li class="am-active"><span style="font-size: 16px;">查询账单</span></li>
</ol>

<div class="am-g">




    <!--表格-->
    <div class="am-cf am-padding am-padding-bottom-0">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">用户订单</strong> / <small>Table</small></div>
    </div>
    <div class="am-u-sm-12">
        <form class="am-form">
            <div class="am-scrollable-horizontal">
            <table class="am-table am-table-bordered am-table-striped am-text-nowrap">
                <thead>
                <tr>
                    <th class="table-id">ID</th>
                    <th class="table-carPortName">车位名称</th>
                    <th class="table-duration">持续时间</th>
                    <th class="table-price">价格</th>
                    <th class="table-status">状态</th>
                    <th class="table-beginTime">开始时间</th>
                    <th class="table-endTime">结束时间</th>
                    <th class="table-set">操作</th>
                </tr>
                </thead>
                <tbody>



                <#list orders as order>
                <tr>
                    <td>${order.id!}</td>
                    <td>${order.carPort.carportName}</td>
                    <td>
                        <#if (order.duration)??>
                            ${order.duration}小时
                        <#else>
                            ---
                        </#if>
                    </td>
                    <td>

                        <#if (order.price)??>
                            ${order.price}元
                        <#else>
                            ---
                         </#if>
                    </td>
                    <td>
                        <#if order.status == 0>
                        未支付
                        <#elseif order.status == 1>
                        已支付
                        <#elseif order.status == 2>
                        订单已取消

                        </#if>

                    </td>
                    <td>${(order.beginTime?string('yyyy-MM-dd hh:mm:ss'))!}</td>
                    <td>

                        <#if (order.endTime)??>
                        ${(order.endTime?string('yyyy-MM-dd hh:mm:ss'))!}
                        <#else>
                        -------
                         </#if>
                    </td>
                    <td>
                        <div class="am-btn-toolbar">
                            <div class="am-btn-group am-btn-group-xs">
                                <#if order.status == 0>
                                <a href="#" class="am-btn am-btn-success am-btn-xs ">
                                    <span
                                            class="am-icon-info-circle" ></span> 支付
                                </a>
                                </#if>
                            </div>
                        </div>
                    </td>
                </tr>
                </#list>

                </tbody>
            </table>
        </div>

        </form>
    </div>



</div>




<#include "/portal/footer.html">

</body>
<!--自定义脚本-->

"<script>



</script>

</html>