<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>首页</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="/layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="/css/public.css" media="all" />
</head>
<body class="childrenBody">
	<blockquote class="layui-elem-quote layui-bg-green">
		<div class="layui-right" id="nowTime"></div>
	</blockquote>
	<div class="layui-row layui-col-space10 panel_box">

		<div class="panel layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg2">
			<a href="javascript:;">
				<div class="panel_icon layui-bg-blue">
					<i class="layui-anim seraph icon-clock"></i>
				</div>
				<div class="panel_word">
					<span class="loginTime"></span>
					<cite>上次登录时间</cite>
				</div>
			</a>
		</div>
		<!--响应式面板-->
		<div class="panel layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg2">
			<a href="javascript:;" data-url="/user/userPage">
				<div class="panel_icon layui-bg-orange">
					<i class="layui-anim seraph icon-icon10" data-icon="icon-icon10"></i>
				</div>
				<div class="panel_word userAll">
					<span></span>
					<em>用户总数</em>
					<cite class="layui-hide">用户中心</cite>
				</div>
			</a>
		</div>
		<!--响应式面板-->
		<div class="panel layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg2">
			<a href="javascript:;" data-url="/order/orderPage">
				<div class="panel_icon layui-bg-cyan">
					<i class="layui-anim layui-icon" data-icon="&#xe63c;">&#xe63c;</i>
				</div>
				<div class="panel_word orderAll">
					<span></span>
					<em>订单总数</em>
					<cite class="layui-hide">订单管理</cite>
				</div>
			</a>
		</div>
		<div class="panel layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg2">
			<a href="javascript:;" data-url="/parkingport/portPage">
				<div class="panel_icon layui-bg-red">
					<i class="layui-anim layui-icon" data-icon="&#xe631;">&#xe631;</i>
				</div>
				<div class="panel_word portAll">
					<span></span>
					<em>车位总数</em>
					<cite class="layui-hide">车位管理</cite>
				</div>
			</a>
		</div>

		<div class="panel layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg2">
			<a href="javascript:;" data-url="/car/carPage">
				<div class="panel_icon layui-bg-black">
					<i class="layui-anim layui-icon" data-icon="&#xe735;">&#xe735;</i>
				</div>
				<div class="panel_word carAll">
					<span></span>
					<em>注册车辆</em>
					<cite class="layui-hide">车辆模块</cite>
				</div>
			</a>
		</div>

	</div>
	<!--<blockquote class="layui-elem-quote main_btn">
		<p>本模板基于Layui2.*实现，支持除LayIM外所有的Layui组件。<a href="http://layim.layui.com/#getAuth" target="_blank" class="layui-btn layui-btn-xs">获取LayIM授权</a>　layui开发文档地址：<a class="layui-btn layui-btn-xs layui-btn-danger" target="_blank" href="http://www.layui.com/doc">layui文档</a>　千人技术交流QQ群：<a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=8b7dd3ea73528c1e46c5d4e522426d60deed355caefdf481c1eacdd1b7b73bfd"><img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="layui后台管理模版" title="layui后台管理模版"></a>（添加时请注明来源，如：“码云”、“github”等）</p>
		<p class="layui-red">郑重提示：本模版作为学习交流免费使用【强烈要求付费或者捐赠的我也就默默的接受了😄】，如需用作商业用途，请联系作者购买【本模版已进行作品版权证明，不管以何种形式获取的源码，请勿进行出售或者上传到任何素材网站，否则将追究相应的责任】</p>
		<p>注：本模版未引入任何第三方组件，单纯的layui+js实现的各种功能。网站所有数据均为静态数据，无数据库，除打开的窗口和部分小改动外所有操作刷新后无效，关闭窗口或清除缓存后，所有操作无效，请知悉。</p>
		<p class="layui-blue">PS：这只是模版而不是定制开发，不能覆盖升级很正常，请不要因为不能覆盖升级来喷我，我表示很无辜，谢谢大家</p>
	</blockquote>-->
	<div class="layui-row layui-col-space10">
		<div class="layui-col-lg12 layui-col-md12">
			<!--<blockquote class="layui-elem-quote title">数据分析</blockquote>-->
			<!--<table class="layui-table magt0">-->
				<!--<colgroup>-->
					<!--<col width="150">-->
					<!--<col>-->
				<!--</colgroup>-->
				<!--<tbody>-->
				<!--<tr>-->
					<!--<td>当前版本</td>-->
					<!--<td class="version"></td>-->
				<!--</tr>-->
				<!--<tr>-->
					<!--<td>开发作者</td>-->
					<!--<td class="author"></td>-->
				<!--</tr>-->
				<!--<tr>-->
					<!--<td>网站首页</td>-->
					<!--<td class="homePage"></td>-->
				<!--</tr>-->
				<!--<tr>-->
					<!--<td>服务器环境</td>-->
					<!--<td class="server"></td>-->
				<!--</tr>-->
				<!--<tr>-->
					<!--<td>数据库版本</td>-->
					<!--<td class="dataBase"></td>-->
				<!--</tr>-->
				<!--<tr>-->
					<!--<td>最大上传限制</td>-->
					<!--<td class="maxUpload"></td>-->
				<!--</tr>-->
				<!--<tr>-->
					<!--<td>当前用户权限</td>-->
					<!--<td class="userRights"></td>-->
				<!--</tr>-->
				<!--</tbody>-->
			<!--</table>-->

			<blockquote class="layui-elem-quote title">数据分析 <i class="layui-icon layui-red">&#xe756;</i></blockquote>

			<!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
			<div id="main1" style="width: 900px;height:400px;"></div>
			<div id="main2" style="width: 900px;height:400px;"></div>
		</div>

	</div>

	<script type="text/javascript" src="/layui/layui.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
	<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/echarts/4.0.4/echarts-en.min.js"></script>


	<script type="text/javascript">
        var myChart = echarts.init(document.getElementById('main1'));

        // 过渡---------------------
        myChart.showLoading({
            text: '正在努力的读取数据中...',    //loading话术
        });

        // 显示标题，图例和空的坐标轴
        myChart.setOption({
            title: {
                text: '停车场每日订单量'
            },
            color: ['#3398DB'],
            tooltip: {},
            legend: {
                data:['日订单']
            },
            toolbox: {
                show : true,
                feature : {
                    mark : {show: true},
                    dataView : {show: true, readOnly: false},
                    magicType : {show: true, type: ['line', 'bar']},
                    restore : {show: true},
                    saveAsImage : {show: true}
                }
            },
            calculable : true,
            tooltip : {
                trigger: 'axis'
            },
            xAxis: {
                data: []
            },
            yAxis: {},
            series: [{
                name: '日订单',
                type: 'bar',
                data: []
            }]
        });

        // 异步加载数据
        $.get('/data/dayordercount').done(function (data) {

            // ajax callback
            myChart.hideLoading();
            var parse = JSON.parse(data);
            // 填入数据
            myChart.setOption({
                xAxis: {
                    data: parse.category
                },
                series: [{
                    // 根据名字对应到相应的系列
                    name: '日订单',
                    data: parse.data
                }]
            });
        });



        //图表2
        var myChart2 = echarts.init(document.getElementById('main2'));

        // 过渡---------------------
        myChart2.showLoading({
            text: '正在努力的读取数据中...',    //loading话术
        });

        // 显示标题，图例和空的坐标轴
        myChart2.setOption({
            title: {
                text: '停车场每日收入'
            },
            tooltip: {},
            legend: {
                data:['日收入']
            },
            toolbox: {
                show : true,
                feature : {
                    mark : {show: true},
                    dataView : {show: true, readOnly: false},
                    magicType : {show: true, type: ['line', 'bar']},
                    restore : {show: true},
                    saveAsImage : {show: true}
                }
            },
            calculable : true,
            tooltip : {
                trigger: 'axis'
            },
            xAxis: {
                data: []
            },
            yAxis: {},
            series: [{
                name: '日收入',
                type: 'line',
                data: []
            }]
        });

        // 异步加载数据
        $.get('/data/dayorderpricesum').done(function (data) {

            // ajax callback
            myChart2.hideLoading();
            var parse = JSON.parse(data);
            // 填入数据
            myChart2.setOption({
                xAxis: {
                    data: parse.category
                },
                series: [{
                    // 根据名字对应到相应的系列
                    name: '日收入',
                    data: parse.data
                }]
            });
        });
	</script>
</body>
</html>